.thumbnail{
    width: 100%;
    margin-bottom: 15px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
}
.video-grid{
    display:grid;
    grid-template-columns:50px 1fr ;
}
p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
    font-weight:100px;
}
.title{
    line-height: 19px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}
.search{
    display: block;
}



.profile-pic{
    width: 40px;
    border-radius: 30px;
}

.name,.stat{
    font-size: 15px;
    color: rgb(96,96,96);
}
.name{
    margin-bottom: 5px;
}